.main{
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;

    flex: 1;
    height: 100%;
    width: 90%;
    position: absolute;
    margin: 20% 5% 0 5%;
    /* overflow: hidden; */
    /* background-color: #FFFFFF; */
    color: #333333;
}

.titleAndTextContainer {
    /* display: grid; */
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: -2% 1% 0 0;

    .titleContainer{
        display: flex;
        justify-content: center;
    }

    .textContainer {
        font-size:x-large;
    }
}

.imageContainer{
    /* display: grid; */
    display: flex;
    width: 50%;
    margin-left: 1%;
}

